<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'my_style.css' %}">
    <title>
        {% block my_title %}
            Hand Hunter
        {% endblock %}
    </title>
</head>
<body>
    <nav>
        <a href="/">Домой</a> |
        <a href="/companys">Компании</a> |
        <a href="/companys-form">Добавить компанию</a> |
        <a href="/add-company-df">Добавить компанию (dj form)</a> |
        <a href="/vacancies">Вакансии</a> |
        <a href="/add-vacancy">Добавить вакансию</a> |
        <a href="/add-vacancy-df">Добавить вакансию (dj form)</a> |
        <a href="/workers">Кандидаты</a> |
        <a href="/resume-list">Резюме</a> |

        <a href="/about">АНАНАС!</a> |
        {% if request.user.is_authenticated %}
        <a href="{% url 'my-resume' %}">Мои Резюме</a> |
        <a href="{% url 'add-resume' %}">Добавить Резюме</a> |
        <a href="/add-resume-df">Добавить Резюме (dj form)</a> |

            Привет, {{ request.user.username }}!
        {% else %}
        <a href="{% url 'reg' %}">Регистрация</a> |
            Пожалуйста, авторизуйтесь
        {% endif %}
    </nav>
    <div>
        <br>
        <form method="GET" action="/search">
            <input
                    type="text"
                    placeholder="Ключевое слово"
                    name="keyword">
            <button>Поиск</button>
        </form>
    </div>
    <hr>

    {% block content %}
    {% endblock %}
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <footer>
        <hr>
        +996777333222<br/>
        Адрес: Бишкек, 7 м-н
    </footer>
</body>
</html>