<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Поиск работы и работников</h>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque ea facere harum magni nihil nobis nostrum, ratione rem similique totam ullam vel. Atque delectus dicta doloribus dolorum earum eum excepturi facere in ipsa laborum maxime necessitatibus, nihil, nisi, non officia porro quo rem reprehenderit sunt vel? Accusamus blanditiis dicta eveniet iste laboriosam nemo odio optio veritatis! Ad atque autem consequuntur cumque delectus doloremque dolorum enim est et excepturi fugiat ipsam nesciunt nulla omnis pariatur perferendis quidem rem, saepe, sequi similique soluta ullam velit voluptatum? Ab accusantium aperiam autem excepturi harum nam placeat quisquam repellendus sit tenetur! Dolor, eum suscipit?
        </div>
</body>
</html>